<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>예약하기</title>
    <th:block th:replace="fragments/bootstrap :: head"></th:block>
    <style>
        .light-text {
            opacity: 0.5; /* 연한 텍스트를 위한 opacity 값 설정 */
        }
    </style>
</head>
<body>
<header th:replace="fragments/header :: header">
    <hr>
</header>

<main class="w-50 m-auto py-5">
    <div class="container text-center">
        <h3 th:text="${date.getYear() + '년 ' + date.getMonthValue() + '월 ' + date.getDayOfMonth() + '일'}"></h3>
        <form th:action="@{/management/reservations/{reservationId}/date-search(reservationId=${reservationId})}" th:method="post">
            <input hidden name="year" type="number" th:value="${date.getYear()}" />
            <input hidden name="month" type="number" th:value="${date.getMonthValue()}" />
            <input hidden name="day" type="number" th:value="${date.getDayOfMonth()}" />
            <input hidden name="managerId" type="number" th:value="${managerId}"/>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 py-5">
                <div id="checkboxContainer" th:each="timeButton : ${timeButtons}">
                    <label th:if="${timeButton.value}"><input type="checkbox" name="reservationTime"
                                                              th:value="${timeButton.getKey().toString()}"
                                                              th:text="${timeButton.getKey().toString()}"></label>
                    <label th:unless="${timeButton.value}" class="text-decoration-line-through light-text"><input
                            type="checkbox" name="reservationTime" th:value="${timeButton.getKey()}"
                            th:text="${timeButton.getKey()}" disabled></label>
                </div>
            </div>
            <div class="row mb-3 justify-content-md-center">
                <div class="col-sm-8 col-lg-9">
                    <textarea class="form-control" id="memo" name="memo" rows="5" placeholder="요청/문의사항"></textarea>
                </div>
            </div>
            <div class="py-3">
                <button type="submit" class="btn btn-primary" id="submit-button">예약</button>
                <button type="button" class="btn btn-secondary" id="cancel-button" th:onclick="'history.back()'">취소
                </button>
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/footer :: footer">
    <hr>
</footer>
<script>
    // 체크박스 요소들을 선택합니다.
    const checkboxes = document.querySelectorAll('input[name="reservationTime"]');

    // 선택된 체크박스를 저장할 변수를 초기화합니다.
    let selectedCheckbox = null;

    // 각 체크박스에 변경 이벤트 리스너를 추가합니다.
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', () => {
            // 이미 선택된 체크박스가 있는 경우, 선택을 해제합니다.
            if (selectedCheckbox === checkbox) {
                checkbox.checked = false;
                selectedCheckbox = null;
            } else {
                // 선택된 체크박스가 없는 경우, 체크박스를 선택합니다.
                if (selectedCheckbox) {
                    selectedCheckbox.checked = false;
                }
                checkbox.checked = true;
                selectedCheckbox = checkbox;
            }
        });
    });
</script>
<th:block th:replace="fragments/bootstrap :: body"></th:block>
</body>
</html>