<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<header th:replace="fragments/header :: header">
    <hr>
</header>
<main class="w-55 m-auto py-5">
    <div class="container text-center">
        <h2 th:text="${name} + ' 님 예약'">내 예약</h2>

        <div class="row">
            <div class="card card-margin search-form">

            </div>
        </div>

        <div class="row">
            <table class="table" id="article-table">
                <thead>
                <tr>
                    <th class="col-1">담당자</th>
                    <th class="title col-1"><a>날짜</a></th>
                    <th class="hashtag col-1"><a>시간</a></th>
                    <th class="created-at col-1"><a>예약 상태</a></th>
                    <th class="col-1">요청/문의</th>
                    <th class="col-1"></th>
                    <th class="col-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reservation : ${reservations}">
                    <td class="col-1" th:text="${reservation.managerId}"></td>
                    <td class="col-1" th:text="${reservation.reservationDate()}"></td>
                    <td class="col-1" th:text="${reservation.reservationTime()}"></td>
                    <td class="col-1" th:text="${reservation.reservationStatus().description}"></td>
                    <td><a th:href="'/reservations/' + ${reservation.id()} + '/memo'">보기</a></td>
                    <td class="col-1">
                        <a th:href="@{/management/reservations/{id}(id=${reservation.id})}">
                            <button class="btn btn-sm btn-success"
                                    th:if="${reservation.reservationStatus().description == '방문 전'}"
                                    th:text="예약 +' '+ 변경"></button>
                        </a>
                    </td>
                    <td class="col-1">
                        </form>
                        <a th:href="@{/management/reservations/{id}/delete(id=${reservation.id})}">
                            <button class="btn btn-sm btn-danger"
                                    th:if="${reservation.reservationStatus().description == '방문 전'}"
                                    th:text="예약 + ' ' + 취소"></button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</main>
<footer th:replace="fragments/footer :: footer">
    <hr>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>