<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a role="button" class="nav-link px-2 text-secondary" th:href="@{/management/reservations}">전체 예약</a></li>
                <li><a role="button" class="nav-link px-2 text-secondary" th:href="@{/management/userAccounts}">회원 관리</a></li>
                <li><a role="button" class="nav-link px-2 text-secondary" th:href="@{/management/search-date}">날짜 조회</a></li>
            </ul>
        </div>
    </div>
</header>
</body>
</html>